$heading: "Forum", sans-serif;
$body: "DM Sans", sans-serif;
$gray: #8c93a8;
$light-gray: lighten($gray, 35%);
$dark-gray: darken($gray, 35%);
$green: #68e365;
$light-green: lighten($green, 30%);
$dark-green: darken($green, 30%);
$red: #e23428;
$light-red: lighten($red, 30%);
$dark-red: darken($red, 30%);
$blue: #1e90ff;
$light-blue: lighten($blue, 30%);
$dark-blue: darken($blue, 30%);
$border-color: #d8d8d8;
